!!! 5
%html{ :lang => "ru" } 
  %head
    %meta{ :charset => "utf-8" }
    %title Учёт звонков
    %meta{ :content => "Статистика исходящих звонков диспетчеров", :name => "description" }
    %meta{ :content => "Ilia Zhirov", :name => "author" }
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{ :rel => "stylesheet", :href => "../assets/bootstrap.css" }
    %link{ :rel => "stylesheet", :href => "../assets/style.css" }
    %link{ :rel => "stylesheet", :href => "../assets/responsive.css" }

    %link{ :href => "../assets/favicon.ico", :rel => "shortcut icon" }
    %link{ :href => "../assets/apple-touch-icon.png", :rel => "apple-touch-icon" }
    %link{ :href => "../assets/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72" }
    %link{ :href => "../assets/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114" }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "../"} Звонки за месяц
          %span.pull-right
            %span= @month
            - prev_month = @date << 1
            %a.btn.btn-primary{ :href => "../#{prev_month.year}/#{prev_month.month}", :id => 'prev', :title => 'Предыдущий месяц' } &larr;
            - next_month = @date >> 1
            - condition = Date.now < next_month
            %a.btn.btn-primary{ :disabled => ( condition ? 'disabled' : nil ), :id => 'next', :href => "../#{next_month.year}/#{next_month.month}", :title => 'Следующий месяц', :onclick => ( condition ? "return false" : nil ) } &rarr;
            %a.btn.btn-success{ :disabled => ( condition ? 'disabled' : nil ), :id => 'export', :href => ( condition ? nil : "../#{@date.year}/#{@date.month}/export" ), :onclick => ( condition ? "return false" : nil ), :title => 'Выгрузить детализацию исходящих звонков за месяц в Excel' } Экспорт
    .container
    - if @list.length > 0
      %table.span7.table.table-striped.table-centered{ :id => 'calls', :style => "text-align: center" }
        %thead
          %tr
            %th оператор
            %th группа
            %th количество
            %th > 2 секунд
            %th > 5 секунд
            %th эффективность
        %tbody
          - @list.each do |row|
            %tr
              %td{ :class => 'nobr wide' }= row[ 'name' ]
              %td{ :class => 'nobr wide' }= row[ 'group_descr' ]
              %td= row[ 'overall' ]
              %td= "#{row[ 'connected' ]}"
              %td= "#{row[ 'effective' ]}"
              %td= "%5.2f%" % ( row[ 'percentage' ].to_f * 100 )
    - else
      .container
        %p Данных нет

    %script{ :src => "../assets/jquery.js" }
    %script{ :src => "../assets/spin.js" }
    %script{ :src => "../assets/bootstrap-transition.js" }
    %script{ :src => "../assets/bootstrap-alert.js" }
    %script{ :src => "../assets/bootstrap-modal.js" }
    %script{ :src => "../assets/bootstrap-dropdown.js" }
    %script{ :src => "../assets/bootstrap-scrollspy.js" }
    %script{ :src => "../assets/bootstrap-tab.js" }
    %script{ :src => "../assets/bootstrap-tooltip.js" }
    %script{ :src => "../assets/bootstrap-popover.js" }
    %script{ :src => "../assets/bootstrap-button.js" }
    %script{ :src => "../assets/bootstrap-collapse.js" }
    %script{ :src => "../assets/bootstrap-carousel.js" }
    %script{ :src => "../assets/bootstrap-typeahead.js" }
    %script{ :src => "../assets/jquery.spin.js" }
    %script{ :src => "../assets/jquery.fileDownload.js" }
    :javascript
      function spinup( callback ) {
        $('#export').spin('small');
        if ( callback && typeof callback == 'function' )
          callback();
      }
      
      $('#export').click( function() { 
        var disabled = $(this).attr('disabled');
        if ( !( typeof disabled !== 'undefined' && disabled !== false ) ) spinup( function() {
          $.fileDownload( $('#export').attr('href'), {
            successCallback : function( url ) { 
              $('#export').spin(false);
            }, 
            failCallback : function( url ) { 
              $('#export').spin(false);
              alert( 'Ошибка при выгрузке файла' ); 
            } 
          } );
        } );
      } );
      
